<div class="row">
    <div class="offset-10 col-md-2 mt-2"> <a [routerLink]="['/ciudad/create']">Insertar New Ciudad</a> </div>
  </div> <br>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
            <th>Identificador</th>
              <th>Ciudad</th>
              <th>Iniciales</th>
              <th>Details</th>
              <th>Update</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ciudad of ciudades">
            <td>{{ciudad.idCiudad}}</td>
              <td>{{ciudad.nombreCiudad}}</td>
              <td>{{ciudad.inicialesCiudad}}</td>
              <!--<td>{{owner.dateOfBirth | date: 'dd/MM/yyyy'}}</td>-->
              <td><button type="button" id="details" class="btn btn-primary" 
                (click)="getCiudadDetails(ciudad.idCiudad)">Details</button></td>
              <td><button type="button" id="update" class="btn btn-success">Update</button></td>
              <td><button type="button" id="delete" class="btn btn-danger">Delete</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
