<div class="container-fluid">
    <form [formGroup]="ligaForm" autocomplete="off" novalidate (ngSubmit)="BuscarLiga(ligaForm.value)">
      <div class="card card-body bg-light mb-2 mt-2">
   
  
        <div class="mb-3 row">
          <label for="nombreLiga" class="col-form-label col-md-2">Nombre de liga: </label>
          <div class="col-md-5">
            <input type="text" formControlName="nombreLiga" id="nombreLiga" 
            class="form-control"/>
          </div>
          <div class="col-md-5">s
            <em *ngIf="validateControl('nombreLiga') 
            && hasError('nombreLiga', 'required')">Nombre de liga es requerido</em>
            <em *ngIf="validateControl('nombreLiga') 
            && hasError('nombreLiga', 'maxlength')">Maximum allowed length is 50 characters.</em>
          </div>
        </div>
      
        <br><br>
          
      </div>
    </form>
  </div>


  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
            <th>Identificador</th>
              <th>Liga</th>
              <th>Iniciales</th>
              <th>Details</th>
              <th>Update</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let liga of ligas">
            <td>{{liga.idLiga}}</td>
              <td>{{liga.nombreLiga}}</td>
              <td>{{liga.inicialesLiga}}</td>
              <td><button type="button" id="details" class="btn btn-primary" 
                (click)="getLigaDetails(liga.idLiga)">Details</button></td>
              <td><button type="button" id="update" class="btn btn-success">Update</button></td>
              <td><button type="button" id="delete" class="btn btn-danger">Delete</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


